<app-header></app-header>

<h3>Game Board</h3>

<p-toast position="top-center" key="tc"></p-toast>

<ng-container *ngIf="!isLoading">
  <div id="tablero-container">
    <table id="tabla">
      <tr *ngFor="let row of htmlBoard; let rowIndex=index">
        <td *ngFor="let cell of row; let colIndex=index" (click)="onCellClick(rowIndex, colIndex)">
          <div class="cell">
            <div class="circle" [ngClass]="{ 'player1': cell === player1.id, 'player2': cell === player2.id }"></div>
          </div>
        </td>
      </tr>
    </table>
  </div>
</ng-container>


<div class="text-center" *ngIf="isLoading">

  <p-progressSpinner

    styleClass="custom-spinner"

    strokeWidth="4"

    fill="#F1F1F1"

  ></p-progressSpinner>

</div>