h3 {
  font-size: 70px;
  color: #666;
  font-family: 'Bai Jamjuree', sans-serif;
  font-weight: bold;
  padding: 20px;
}

#tablero-container {
  width: 600px; /* Ancho del contenedor */
  height: 480px; /* Altura del contenedor */
  background-color: #3498db; /* Color de fondo del contenedor */
  margin: 0 auto; /* Centra el contenedor horizontalmente */
  padding: 20px; /* Espacio interno alrededor del tablero */
  border: 2px solid #2c3e50; /* Borde del contenedor */
  border-radius: 10px; /* Bordes redondeados */
  box-shadow: -5px 0 5px #21618b;
  display: flex;
  flex-direction: column-reverse;
}

 
#tabla {
  border-collapse: separate;
  width: 100%; /* Ancho de la tabla al 100% del contenedor */
  height: 100%; /* Altura de la tabla al 100% del contenedor */
  margin: 7px;
}

.row {
  display: flex;
}

.cell {
  width: 60px;
  height: 60px;
  border: 2px solid #000;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  background-color: transparent; /* Fondo transparente para las celdas */
}

.circle {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: white;
  z-index: 1; /* Coloca las fichas en la capa superior */
}


.player1,
.player2 {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.player1 {
  background-color: red;
  z-index: 2;
}

 
.player2 {
  background-color: yellow;
  z-index: 2;
}