<app-header></app-header>
<p>board works!</p>
<nav class="navbar navbar-expand-lg navbar-dark bg-transparent">
    <a class="navbar-brand" routerLink="">4 En Raya</a>
  </nav>
  
  <div class="tabla mt-5" id="tabla" #tabla>
    <div id="0" class="column" #column1 (click)="onColumnClick(column1)">
      <li></li>
      <span></span>
      <li></li>
      <span></span>
      <li></li>
      <span></span>
      <li></li>
      <span></span>
      <li></li>
      <span></span>
      <li></li>
      <span></span>
    </div>
    <div id="1" class="column" #column2 (click)="onColumnClick(column2)">
      <li></li>
      <span></span>
      <li></li>
      <span></span>
      <li></li>
      <span></span>
      <li></li>
      <span></span>
      <li></li>
      <span></span>
      <li></li>
      <span></span>
    </div>
    <div id="2" class="column" #column3 (click)="onColumnClick(column3)">
      <li></li>
      <span></span>
      <li></li>
      <span></span>
      <li></li>
      <span></span>
      <li></li>
      <span></span>
      <li></li>
      <span></span>
      <li></li>
      <span></span>
    </div>
    <div id="3" class="column" #column4 (click)="onColumnClick(column4)">
      <li></li>
      <span></span>
      <li></li>
      <span></span>
      <li></li>
      <span></span>
      <li></li>
      <span></span>
      <li></li>
      <span></span>
      <li></li>
      <span></span>
    </div>
    <div id="4" class="column" #column5 (click)="onColumnClick(column5)">
      <li></li>
      <span></span>
      <li></li>
      <span></span>
      <li></li>
      <span></span>
      <li></li>
      <span></span>
      <li></li>
      <span></span>
      <li></li>
      <span></span>
    </div>
    <div id="5" class="column" #column6 (click)="onColumnClick(column6)">
      <li></li>
      <span></span>
      <li></li>
      <span></span>
      <li></li>
      <span></span>
      <li></li>
      <span></span>
      <li></li>
      <span></span>
      <li></li>
      <span></span>
    </div>
    <div id="6" class="last-child column" #column7 (click)="onColumnClick(column7)">
      <li></li>
      <span></span>
      <li></li>
      <span></span>
      <li></li>
      <span></span>
      <li></li>
      <span></span>
      <li></li>
      <span></span>
      <li></li>
      <span></span>
    </div>
    
  </div>